# URL | destination directory | group
https://github.com/alexconesap/ungula-lib.git|lib|base
https://github.com/alexconesap/ungula-lib-audit.git|lib_audit|base
https://github.com/alexconesap/ungula-lib-display.git|lib_display|ui
https://github.com/alexconesap/ungula-lib-event-brokers.git|lib_event_brokers|base
https://github.com/alexconesap/ungula-lib-i18n.git|lib_i18n|base
https://github.com/alexconesap/ungula-lib-motor.git|lib_motor|motors
https://github.com/alexconesap/ungula-lib-net.git|lib_net|base
https://github.com/alexconesap/ungula-lib-ota.git|lib_ota|base
https://github.com/alexconesap/ungula-lib-thermal.git|lib_thermal|base
