# URL | destination directory | group
https://github.com/alexconesap/ungula-core.git|lib|base
https://github.com/alexconesap/ungula-display.git|lib_display|ui
https://github.com/alexconesap/emblogx.git|lib_emblogx|base
https://github.com/alexconesap/ungula-eventbus.git|lib_event_brokers|base
https://github.com/alexconesap/ungula-i18n.git|lib_i18n|base
https://github.com/alexconesap/ungula-hal.git|lib_hal|base
https://github.com/alexconesap/ungula-json.git|lib_json|base
https://github.com/alexconesap/ungula-loadcell.git|lib_loadcell|motors
https://github.com/alexconesap/ungula-motor.git|lib_motor|motors
https://github.com/alexconesap/ungula-net.git|lib_net|base
https://github.com/alexconesap/ungula-ota.git|lib_ota|base
https://github.com/alexconesap/ungula-sd.git|lib_sd|base
https://github.com/alexconesap/ungula-thermal.git|lib_thermal|base
https://github.com/alexconesap/git-support-scripts.git|support|base
